NGJ22/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
NGJ22/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
NGJ22/.vscode/settings.json
NGJ22/.idea/.idea.NGJ22/.idea/projectSettingsUpdater.xml
NGJ22/.idea/.idea.NGJ22/.idea/workspace.xml
