NGJ22/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
NGJ22/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
NGJ22/.vscode/settings.json
NGJ22/.idea/.idea.NGJ22/.idea/projectSettingsUpdater.xml
NGJ22/.idea/.idea.NGJ22/.idea/workspace.xml
NGJ22/Assets/Models/ceilinglight.fbx.meta
NGJ22/.idea/.idea.NGJ22/.idea/vcs.xml
NGJ22/.idea/.idea.NGJ22/.idea/indexLayout.xml
NGJ22/.idea/.idea.NGJ22/.idea/.gitignore
NGJ22/ProjectSettings/RiderScriptEditorPersistedState.asset
NGJ22/.idea/.idea.NGJ22/.idea/encodings.xml
